<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963057844483-r0loplftajnmk9qhuggg9bhkmv8i15j2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963057844483-r0loplftajnmk9qhuggg9bhkmv8i15j2</string>
	<key>API_KEY</key>
	<string>AIzaSyB17RuU2Xfq4XOvNq-YrzCJQq2Pw4COjFM</string>
	<key>GCM_SENDER_ID</key>
	<string>963057844483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capitalworld</string>
	<key>PROJECT_ID</key>
	<string>capital-world-e1b06</string>
	<key>STORAGE_BUCKET</key>
	<string>capital-world-e1b06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963057844483:ios:dffa8aa0d15b308fd5e936</string>
</dict>
</plist>